<link
  rel='stylesheet'
  type='text/scss'
  href='alert\style.scss'
/>
<div class='box'>
  <div class='action'>Успішне виконання дії</div>
  <div class='button-back'>
    <a href='/product-list' class='button-text'>Повернутись
      назат</a></div>
  <div class='info'>{{info}}</div>
</div>